

body{
    margin: 0%;
}

.navegacao{
    background-color: black;
    font-size: 30px;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cor{
    color: beige;
}
.navegacao ol{
    list-style-type: none;
    display: flex;
}

.navegacao ol li{
    padding-left: 50px;
}


.banner{
    background-image: url(como-escolher-barbearia-800x300.png);
    background-repeat: no-repeat;
    height: 70vh;
    background-position: center;
    background-size: cover;

    

}




.container{
    background-color: black;
    color: white;
    height: 15vh;
}

.container .containertexto h1{
    margin: 0;
    font-size: 50px;
    padding-left: 20px;
    padding-top: 60px;
}

.navegacao ol li:hover{
   color: #ffd800;  
   cursor: pointer;
}

.unidadetexto p{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.unidadetexto ol {
list-style-type: none;

}

button:hover{
    color: #f4f4f4;
    background-color: rgb(0, 0, 255);
}


button{
    background-color:transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.unidadetexto ol li {
    font-size: 30px;
}

.unidades img{
    width: 550px;
    height: 550px;
}

.unidades{
    height: 100vh;
    background-color: rgb(88, 88, 255);
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}

.cabelo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    height: 50vh;
    
}
.cabelo p{
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    
}
section input{
    border-radius: 10px;

}
.formulario{
display: flex;
justify-content: space-around;
align-items: center;
}
section label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.formulario input{
    border: none;
    outline: 0;
    border-bottom: black 1px solid;
}
.rodape{
    background-color: black;
    color: #f4f4f4;
    height: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.checkbox{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}